

body{
  font-size: 18px;
  color: #6e6e6e !important;
  background-image: url("../../assets/images/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
}

.site-footer{
  background-color: #0072bc;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 2px;
  margin-top: 50pc;
}
.site-footer p{
    font-size: 14px!important;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.8px;
}

.right{
  float: right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



@media screen and (min-width: 1400px){
  .banner-homepage .banner-image.set-cur{
    height: 510px;
  }
}


  